* {
  margin: 0;
  padding: 0;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  --fonte0: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  padding: 20px;
}
nav a {
  text-decoration: none;
}
body {
  font-family: var(--fonte0);
  color: var(--cor0);
  background-color: var(--cor1);
}
main {
  margin: auto;
  min-width: 280px;
  max-width: 800px;
}